spring:
  application:
    name: auth-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION}

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: prometheus,health,info

springdoc:
  api-docs:
    path: /docs
server:
  port: 8080
  servlet:
    context-path: /api/v1/auth