networks:
  # Red privada para la comunicación interna de la célula
  identity-network:
    driver: bridge
    name: identity-network
  # Red compartida para conectarse a la célula de observabilidad
  infrastructure-network:
    external: true
    name: infrastructure-network

  web-gateway:
    external: true
    name: web-gateway

volumes:
  mongo-identity-data: # Renombrado para mayor claridad
    driver: local

services:
  # --- Base de Datos (solo en la red privada) ---
  mongo_identity:
    image: mongo:latest
    container_name: mongo_identity
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-identity-data:/data/db
    networks:
      - identity-network 

  # --- Microservicios de la Célula 1 (Conectados a ambas redes) ---

  account-service:
    build:
      context: ./account-service
    container_name: account-service
    restart: unless-stopped
    networks:
      - identity-network
      - infrastructure-network # <-- Conectado a la red compartida
    depends_on:
      - mongo_identity
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo_identity:27017/identity_db
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - APP_RESET_PASSWORD_URL_BASE=http://localhost:3000/auth/reset-password
      - RABBITMQ_HOST=rabbitmq-udeajobs


  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    restart: unless-stopped
    networks:
      - identity-network
      - infrastructure-network # <-- Conectado a la red compartida
    depends_on:
      - mongo_identity
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo_identity:27017/identity_db
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - JWT_REFRESH_EXPIRATION=${JWT_REFRESH_EXPIRATION}

  identity-gateway:
    build:
      context: ./identity-gateway
    container_name: identity-gateway
    restart: unless-stopped
    networks:
      - identity-network
      - infrastructure-network # <-- Conectado a la red compartida
      - web-gateway
    depends_on:
      - account-service
      - auth-service
    environment:
      - SERVER_PORT=8080

  identity-docs:
    image: scalarapi/api-reference:latest # *** ¡Cambiando a la imagen correcta! ***
    container_name: identity-docs
    ports:
    - "5051:8080" # El puerto de la imagen 'api-reference' es 8080 por defecto
    restart: unless-stopped
    env_file:
      - ./scalar/.env
    networks:
      - identity-network
