apiVersion: apps/v1
kind: Deployment
metadata:
  # El nombre del despliegue
  name: account-service
spec:
  replicas: 1 # 1 copia del servicio
  selector:
    matchLabels:
      app: account-service # El "selector"
  template:
    metadata:
      labels:
        app: account-service # La "etiqueta" que usa el selector
    spec:
      # Configuración para acceder a imágenes privadas
      imagePullSecrets:
      {{- toYaml .Values.imagePullSecrets | nindent 10 }}

      containers:
      - name: account-service
        # ---- Templating de HELM ----
        # Construye el nombre de la imagen desde values.yaml
        image: "{{ .Values.accountService.image.repository }}:{{ .Values.accountService.image.tag }}"
        # ---- Fin Templating ----

        # 'Always' fuerza a K8s a descargar la imagen si
        # la tag es "latest" y ha cambiado.
        imagePullPolicy: Always 

        ports:
        - containerPort: 8080 # Puerto interno de tu app Spring Boot

        # ---- Templating de HELM ----
        # Carga todas las variables de entorno desde values.yaml
        env:
        {{- range $key, $value := .Values.accountService.env }}
        - name: {{ $key | quote }}
          value: {{ $value | quote }}
        {{- end }}
        # ---- Fin Templating ----