
{{- range .Values.applications }} 
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .name }}
  namespace: identity-cell
spec:
  replicas: {{ .replicaCount }}
  selector:
    matchLabels:
      app: {{ .name }}
  template:
    metadata:
      labels:
        app: {{ .name }}
    spec:
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: {{ .name }}
          # {{ .image.repository }} y {{ .image.tag }}
          image: "{{ .image.repository }}:{{ .image.tag }}"
          ports:
            # {{ .port }} es el puerto que definimos
            - containerPort: {{ .port }}
          
          env:
          {{- range .env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
          {{- end }}
{{- end }} # <-- Fin del bucle principal