# ===============================================
# Panel de Control para la Célula de Identidad
# ===============================================


# --- Configuración del Microservicio: Account Service ---

applications:

  - name: account-service
    replicaCount: 1
    port: 8080 # Puerto que expone el contenedor
    image:
      repository: "ghcr.io/team-das/identity-cell/account-service"
      tag: "latest"
    env:
      - name: SPRING_DATA_MONGODB_URI
        value: "mongodb+srv://admin_udeajobs:RPrz1A5e3Ru75HW1@udeajobs.pmmghpu.mongodb.net/identity_db?appName=udeajobs"
      - name: RABBITMQ_URI
        value: "amqps://qmvnjeii:ynOJ4vgUqOr59E9nF1_elmycwIz-_oqU@campbell.lmq.cloudamqp.com/qmvnjeii"
      - name: EMAIL_USERNAME
        value: "udeajobs674@gmail.com"
      - name: EMAIL_PASSWORD
        value: "qycjcfbenmfwfmhs"
      - name: APP_RESET_PASSWORD_URL_BASE
        value: "http://localhost:3000/auth/reset-password"
      

  - name: auth-service
    replicaCount: 1
    port: 8080
    image:
      repository: "ghcr.io/team-das/identity-cell/auth-service"
      tag: "latest"
    env:
      - name: SPRING_DATA_MONGODB_URI
        value: "mongodb+srv://admin_udeajobs:RPrz1A5e3Ru75HW1@udeajobs.pmmghpu.mongodb.net/identity_db?appName=udeajobs"
      - name: JWT_SECRET
        value: "7NG5umhwfjKJDAqa53AlX1vNOypdUlUG4b/CuN8Wja8="
      - name: JWT_EXPIRATION
        value: "86400000"
      - name: JWT_REFRESH_EXPIRATION
        value: "604800000"
      
  - name: identity-gateway
    replicaCount: 1
    port: 8080
    image:
      repository: "ghcr.io/team-das/identity-cell/identity-gateway"
      tag: "latest"
    env:
      - name: AUTH_SERVICE_URL
        value: "http://auth-service:8080"
      - name: ACCOUNT_SERVICE_URL
        value: "http://account-service:8080"

  - name: identity-docs
    replicaCount: 1
    port: 8080
    image:
      repository: "scalarapi/api-reference"
      tag: "latest"
    env:
      - name: API_REFERENCE_CONFIG
        value: '{"sources":[{"title":"Auth Service","url":"http://localhost:8080/identity-cell/api/v1/auth/docs","servers":[{"url":"http://localhost:8080/identity-cell/api/v1/auth","description":"API Gateway público"}]},{"title":"Account Service","url":"http://localhost:8080/identity-cell/api/v1/accounts/docs","servers":[{"url":"http://localhost:8080/identity-cell/api/v1/accounts","description":"API Gateway público"}]}],"theme":"bluePlanet"}'