spring:
  application:
    name: account-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

  rabbitmq:
    addresses: ${RABBITMQ_URI}

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: prometheus, health, info

app:
  reset-url-base: ${APP_RESET_PASSWORD_URL_BASE}

springdoc:
  api-docs:
    path: /docs
server:
  port: 8080
  servlet:
    context-path: /api/v1/accounts
